body {
    font-family: 'Press Start 2P', cursive;
}

header {
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}

#start-container {
    position: relative;
    border: 5px solid black;
    background-color: #000000;
    height: 100vh;
}

#start-container h2 {
    position: absolute;
    color: white;
    top: 30%;
    left: 42%;
}

#start-container button{
    position: absolute;
    bottom: 50%;
    left: 48%;
}

#start-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 20px solid black;
    width: 50%;
    height: 99vh;

}

#main-page-nav {
    display: flex;
    justify-content: space-between;
}

#mainGame-Main {
    display: flex;
    width: 100%;
    height: 80vh;
    background-color: black;
}

#leftSideMain {
    background-color: blueviolet;
    width: 25%;
}

#middleMain {
    width: 50%;
    background-color: aliceblue;
}

#rightSideMain {
    width: 25%;
    background-color: aqua;
}

#main-story-text {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 30px;
    height: 90%;
}

#main-story-btns {
    display: flex;
    justify-content: space-between; 
}
